[2020-09-21 14:43] arpit-dwivedi opened #1 "First Day"
Hello,
Summarize your today's work in by commenting below.

[2020-09-21 15:15] Ansuman9020 commented on #1
- I have to make a simple landing page in bootstrap studio.
- The page made by me includes home page, contact us part, team members description and even the footer.
- We are asked to use the drag and drop feature.
- I just used the header dark mode where I just changed the company name and included nav items there. Added a search area in the home page.
- Next to that added a team section which inc

[2020-09-21 15:47] akshayadme commented on #1
- First I have downloaded the Bootstrap Studio and go through it about its services.
- In that I have created a landing page initially form page using drag and drop feature of bootstrap studio.
- I have created first Navbar with brand-name some quick links and a button in it.
- Next step is to create home section of it with some heading, texts and a button.
- Later I created a footer section with

[2020-09-21 15:48] reddymahendra52 commented on #1
* Today's task was to make a simple landing page with the help of Bootstrap Studio.
* First I made the outline of my page like how I wanted my page to look  in general so that it can be easy while coding.
* My page contains a header which contains a responsive Navbar.
* After the header there is a main section which contains all the other sections which are basically the about section, feature sec

[2020-09-21 18:11] manvi-123894 commented on #1
1. For the first task, we were instructed to install the Bootstrap Studio and make a landing page.
 2. I created a simple landing page using bootstrap studio which includes a navigation bar, home section, about, services, gallery, and a footer.
3. The navigation bar contains the logo of the website and some links to different sections of the web page.
4. For the home section, I used a jumbotron wi

[2020-09-21 18:20] chirag0821 commented on #1
- In today's task I have to make a landing page using bootstrap studio.
- First I have downloaded the bootstrap studio and learned all the sections in the software and all the features of it.
- I made outline of the complete landing page of  cake delivery website in my mind first.
- After that I added the navbar first which contains price, order, cakes and contact us sections.
- Then I added backg

[2020-09-22 08:11] arpit-dwivedi opened #2 "Understanding SEO"
Explain what do you understand by SEO and why is it important, and how it's generally implemented in points.

[2020-09-22 08:58] akshayadme commented on #2
- SEO stands for Search Engine Optimization.

- SEO means a website containing html codes has to be organized in such a manner that it will achieve higher ranking in search engines research page (SERP) of search engine like Google, Yahoo, Bing and so on.

- By use of SEO more search engine users click on our website listing in the search engine results.

- SEO is important because it makes our web

[2020-09-22 11:57] arpit-dwivedi opened #3 "Day 2"
Hello,
Summarize your today's work in by commenting below.

[2020-09-22 13:35] reddymahendra52 commented on #3
* Today's work was fun as it was to create a personal Portfolio.
* Today I used an inbuilt bootstrap studio template to create my portfolio which is very easy to use, than creating it from scratch.
* Its a standard template with about, portfolio and contact sections.
* Take away of the day is I learnt what is **SEO(Search Engine Optimization)** and basics of it, till now I never realized how impor

[2020-09-22 15:03] manvi-123894 commented on #3
- Today's task was to create a portfolio for which I used an inbuilt bootstrap studio template and edited it accordingly.

-  The template includes projects, about, and contact section.

- The main task was to add SEO and meta tags for which I learnt the basics from the bootstrap studio documentation provided.

-  I have completed the given task by adding SEO to the web page.

- I've set the neces

[2020-09-22 15:31] akshayadme commented on #3
- I have completed today's task of building own portfolio using template given in Bootstrap Studio.

- The template contains header, hero section, about, projects and contact. We have to make some changes on it and then add details about ourselves in it.

- Main task was to add search engine optimization(SEO) in these portfolio template.

- For using SEO in our project we have to add content in me

[2020-09-22 16:04] Ansuman9020 commented on #3
- Task of the day was knowing about some advanced topics like SEO and Social ,Meta Tags and Head Content ,Minifying JS & CSS, Using a CDN and Export Script.
- Using a template ( freelancer) from the bootstrap studio, tried to make my own portfolio.
- Learned the use of meta tags which is used declare pieces of information related to our website.
- For adding the meta tags to my portfolio, click on

[2020-09-22 17:18] chirag0821 commented on #3
- Today's task was making a portfolio and learning advanced topics like SEO and Social ,Meta Tags and Head Content ,Minifying JS & CSS, Using a CDN and Export Script.
- First I searched for SEO on internet, watched some videos on how SEO helps to get highest rank of website on search engines.
- After that I learned about meta tags i.e information about information. and how we can add meta tags usi

[2020-09-24 09:44] arpit-dwivedi opened #4 "Day 4"

[2020-09-24 14:42] reddymahendra52 commented on #4
* Today's task was to complete our portfolio with all the advanced features, **SEO** and to deploy it.
* In the meta tag I have added description and a few keywords for **better search engine results.**
* My portfolio contains an about section, portfolio section and a contact section.
* In my portfolio section I have presented some of my projects.
* In my contact section I have used **Form** to co

[2020-09-24 15:37] chirag0821 commented on #4
- Today I added all the seo advance features such as Meta Tags and Head Content,Minifying JS & CSS, Using a CDN, Export Script to my portfolio.
- Then I hosted it using github pages.

- **My Portfolio Link** : <a href="">Chirag's Portfolio</a>

[2020-09-24 15:38] chirag0821 commented on #4
- Today I added all the seo advance features such as Meta Tags and Head Content,Minifying JS & CSS, Using a CDN, Export Script to my portfolio.
- Then I hosted it using github pages.

<a href="">Chirag's Portfolio</a>

[2020-09-24 15:39] chirag0821 commented on #4
- Today I added all the seo advance features such as Meta Tags and Head Content,Minifying JS & CSS, Using a CDN, Export Script to my portfolio.
- Then i hosted it using github pages.

- **My Portfolio Link :** <a href="">Chirag's Portfolio</a>

[2020-09-24 15:48] Ansuman9020 commented on #4
- Well, today's task was to modify the previously done portfolio by using advanced options.
- Made changes by adding SEO and meta tags.
- I exported the page to local by enabling minified JS, CDN for libraries and skipping unused images  options.
- **Link** : [Portfolio](https://ansuman9020.github.io/)

[2020-09-24 15:51] chirag0821 commented on #4
- Today I added all the seo advance features such as Meta Tags and Head Content,Minifying JS & CSS, Using a CDN, Export Script to my portfolio.
- Then I hosted it using github pages.
- **Portfolio Link:** <a href="https://chirag0821.github.io/My-Portfolio.github.io/">My Portfolio</a>

[2020-09-24 16:29] manvi-123894 commented on #4
- Today's task was to use advanced options and modify the portfolio and deploy it on Github.

-  I added all the advanced features such as meta tags, minifying JS & CSS, favicons, etc to my portfolio and hosted it on Github.

Link to my portfolio:
https://manvi-123894.github.io/index1.html

[2020-09-24 17:06] akshayadme commented on #4
- Today I have updated my portfolio project by the use of options in Bootstrap Studio.

- My portfolio is still not complete I have to update it later.

- I have used SEO in my portfolio project, I have not used any template for these Project.

- I have designed Portfolio from Scratch and made it partially complete.

- You can watch my portfolio project which i have published in GitHub. Portfolio

[2020-09-25 09:02] #4 closed, assigned to Ansuman9020, reddymahendra52, manvi-123894, akshayadme, chirag0821

[2020-09-25 09:14] arpit-dwivedi opened #5 "Day 5"
Make a template for technical articles, with the bootstrap studio, using all advance options. In the template put content from your files in [open-contributions](https://github.com/Learn-Write-Repeat/Open-contributions) repository, both markdown, and jupyter part. The page should contain all the information from both the files and also a link to download the files.

Incase needed:

1. **[Markdownt

[2020-09-25 16:13] akshayadme commented on #5
- Today's task was to design template for technical article using bootstrap studio.

- I have created this web design by including navbar, header, footer and some content about python topics which is properly responsive for every device.

- I have attached the file of template in zip format.

[Python.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5284492/Python.zip)

[2020-09-25 16:52] reddymahendra52 commented on #5
* Today's task was to design a template for a technical documentation page using bootstrap studio.
* Since it is a technical documentation page I tried to keep it as simple as possible so that it can be easily understood and accessible
* My template in a whole has two section one section contains the documentation contributor's information with the list of topics and the other section contains the

[2020-09-25 17:15] Ansuman9020 commented on #5
- Today's task was to design template for technical article using bootstrap studio.
- I created a page containing navbar, articles section and the footer.
- It has been linked to other page which views the documentation of the contributed tasks.

[Articles.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5284268/Articles.zip)

[2020-09-25 17:24] manvi-123894 commented on #5
- Today's task was to create a template for a technical blog website using the bootstrap studio.

- I have created a template including a navbar, content section and a footer.

[Technical_Blog_Template.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5284350/Technical_Blog_Template.zip)

[2020-09-25 17:54] chirag0821 commented on #5
- Today's task was to design a template for technical article.
- I used the Clean Blog template and added all the content of my .ipynb and .md file contributions.
- I tried my best to make it fully responsive, I added my own media query to make it responsive.
- After that I added all the advance SEO features and footer to the template.
[Template zip](https://drive.google.com/u/0/uc?id=1L0atGKrq3vz

[2020-09-26 23:12] #5 closed, assigned to Ansuman9020, reddymahendra52, manvi-123894, akshayadme, chirag0821

[2020-09-28 04:12] #2 closed, assigned to akshayadme

[2020-09-28 04:37] arpit-dwivedi opened #6 "Understanding Template"
Go through the template made by @akshayadme [here](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/issues/5#issuecomment-699019182)

Good things in the template:

1. Informative Navbar and footer.
2. Center aligned blog left and right spaces can be used for other information, like references or similar posts.
3. Header size is enough to give the topic and author details, and not

[2020-09-28 04:52] arpit-dwivedi opened #7 "Designing Template to match main site"
Go through the main [Devincept](https://devincept.tech/).
Try to make your template as part of the site, i.e. color, logo, navbar, etc.

I am adding the bsdesign of the template page of the main site in case needed.

[DevInceptTemplate.bsdesign.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5289969/DevInceptTemplate.bsdesign.zip)

[2020-09-28 13:02] reddymahendra52 commented on #6
* First I have to tell the template made by **@akshayadme**  is pretty good.
* Today's task was to redo the template previously made by us.
* I created a totally new template from scratch which satisfy the requirements.
* My template contains a header section with signup, login and search
* A body section where I used grid system.
* And a footer section with social links.
* I took ideas from Aksha

[2020-09-28 13:24] akshayadme commented on #7
-  Today I have updated my previous template as a part of DevIncept site.

-  I have updated Navbar, Color, Logo, Font, Footer and some animations.

you can check [updated python.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5292519/updated.python.zip)

[2020-09-28 14:44] Ansuman9020 commented on #6
- I just added my contribution file to template.
- Added a login/signup page along with the contact page.

[Library.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5293058/Library.zip)

[2020-09-28 17:23] manvi-123894 commented on #6
- Today's task was to enhance our previously made template by taking inspiration from @akshayadme template.

[LearnPython.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5293964/LearnPython.zip)

[2020-09-28 21:02] chirag0821 commented on #6
- Today I added side bar to my previous template.
- Added some styling also
[updated template](https://drive.google.com/u/0/uc?id=1_kuneZ1rcVpmJiRZWE7vXFQwsUmzuwVL&export=download)

[2020-09-29 07:20] akshayadme opened #8 "Home Page Designing"
Today our lead is not present to assign any task to us for some of the reasons, so he told me to assign task to all of us.

So todays task is to create home page with the same template for blog site by taking the reference from the bsdesign given [DevInceptTemplate.bsdesign.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5297114/DevInceptTemplate.bsdesign.zip)

You ca

[2020-09-29 15:09] manvi-123894 commented on #8
- Today's task was to update the previously made blog template and make it look like a part of the DevIncept website.
- I've updated the template and made the necessary changes.
[Updated_Python_Template.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5300044/Updated_Python_Template.zip)

[2020-09-29 16:59] reddymahendra52 commented on #8
* Today's task was to create a home page.
* I used an inbuilt template from Bootstrap Studio and tried to make it similar to the reference DevIncept's site
* I made a few alterations to the inbuilt template and tried to enhance it.
[Home page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5300641/Home.page.zip)

[2020-09-29 17:14] akshayadme commented on #8
- Today's task was to built a home page for previous template as a part of main site.
[home page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5300737/home.page.zip)

[2020-09-29 21:00] chirag0821 commented on #8
- Today's task was to create home page.
- I added navbar same as devincept home page.
- Added side bar for courses.
[Home page](https://drive.google.com/u/0/uc?id=1ccDJiWIycawmgoerI8k-asARiD81nHru&export=download)

[2020-09-30 05:31] arpit-dwivedi opened #9 "Finalising Homepage"
Today we'll try to finalize the homepage for this repository.

We'll be moving with [this template](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/issues/8#issuecomment-700856627) designed by Ashay which matches the main devincept site.

Tasks to be performed today:

1. As a newsletter option is added on top, try integrating with [Hubspot](https://app.hubspot.com/signup/marketi

[2020-09-30 11:25] Ansuman9020 commented on #9
- I just tried with logo one.
![logo1](https://user-images.githubusercontent.com/52194650/94679320-8ab5f100-033d-11eb-8a7a-4214fe03eb1b.png)
![logo](https://user-images.githubusercontent.com/52194650/94679326-8c7fb480-033d-11eb-92ec-7c4627b884e2.png)

[2020-09-30 12:25] manvi-123894 commented on #9
- Today's task was to finalize the homepage of the devIncept website.
- The task was divided into 5 parts and I chose to do part 4 where I was supposed to make a latest blogs section for the website.
- For this, I used the responsive grid layout of bootstrap.
- For each blog, I used an image, subject heading so that the reader could know the subject the blog is related to at a glance, a
  blog top

[2020-09-30 12:55] reddymahendra52 commented on #9
* Today's task was divided into different among the team mates
* My task was to  show the number of views.
* First here below shows the count whenever page is viewed or reloaded
[home page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5305270/home.page.zip)
* Second here shows the count for every unique visitor but we cannot style it
[home page hit.zip](https://gith

[2020-09-30 15:07] akshayadme commented on #9
- Today I have completed home page design with some updates.
- I have implemented 3rd part of the today's task and also 1st part of the task.
- In the 3rd part I have designed a section of "what is contribution program" with elegant design.
- I have completed task attached here [updated home page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5309474/updated.home.pag

[2020-09-30 15:33] Ansuman9020 commented on #9
- As I took 3rd part of today's task, I tried with 2 different style.
- In the homepage1 zip file, we can add icons, gifs,pics in the bigger circle present in the "what is contribution program" part.
[homepage.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5306602/homepage.zip)
[homepage1.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5

[2020-09-30 16:17] chirag0821 commented on #9
- I created two logos for the page.
[logo1](https://drive.google.com/u/0/uc?id=1_aU-rWRmIjiN5UceP4DtfjambSGZJt9v&export=download)
[logo2](https://drive.google.com/u/0/uc?id=1APSEVxJRqh2QgF5tEeNhOJJhH6Y32Fck&export=download)

[2020-09-30 17:02] Ansuman9020 commented on #9
![logo](https://user-images.githubusercontent.com/52194650/94716663-d03de280-036c-11eb-90d6-70991d21948d.gif)

[2020-10-01 06:35] arpit-dwivedi opened #10 "Page counter"
Explain steps to implement both types of counters implemented in the example file yesterday.

[2020-10-01 07:11] reddymahendra52 commented on #10
## First Counter
1.  In the first counter I used [Count API](https://countapi.xyz/)  its a free API which increases the counter every time a page is
     reloaded or opened.
2. In order to create the counter we have to generate a unique key that key can be your name, site name or anything but it
    should be unique.
3. You type the unique key in the panel it will generate the code
![Capture](http

[2020-10-01 07:17] akshayadme commented on #9
bsdesign of my template [devincept main page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5310068/devincept.main.page.zip)

Exported file my template [updated home page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5310709/updated.home.page.zip)

[2020-10-01 09:28] reddymahendra52 commented on #9
* I have updated the above exported file with counter using the count API
* Whenever we want to start from zero we can start it fresh using unique key or just changing **devIncept** name in the script
   to something unique

![Capture](https://user-images.githubusercontent.com/61696212/94791659-995fdf00-03f5-11eb-90cc-10432f359eca.PNG)

Updated file:
[updated.home.page.zip](https://github.com/Lear

[2020-10-01 09:51] Ansuman9020 commented on #9
- Updated the site by adding "what is contribution" section, link provided by akshay.
[updated home page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5311000/updated.home.page.zip)

[2020-10-01 10:03] manvi-123894 commented on #9
- I've added the latest blog section in the template.
- In the footer, the icons were not aligned properly. So, I've aligned the icons centrally.
[devincept_home_page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5311066/devincept_home_page.zip)

[2020-10-01 16:51] chirag0821 commented on #9
- I created following logos which can match the home site.
[logos](https://drive.google.com/u/0/uc?id=1wW9VUG2hMP39lh4552janfcuYeu1-esU&export=download)

[2020-10-02 12:00] akshayadme commented on #9
I have completed the final home page design.
Merged all team members design into it.

[Final home page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5317767/Final.home.page.zip)

[2020-10-05 13:18] reddymahendra52 opened #11 "#11 Designing Blog Pages"
Today's task is to design different blog pages for different topics using the same previous template.

@akshayadme    : Authors' Page
@Ansuman9020 : ML Blog Page
@reddymahendra52 : OpenCV Blog Page
@manvi-123894  : Python Blog Page
@chirag0821 : NLP Blog Page

[2020-10-05 17:35] reddymahendra52 commented on #11
* Today's task was to create a blog page for the OpenCV
* I created the page which matches the reference template
[OpenCV Blog page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5329101/OpenCV.Blog.page.zip)

[2020-10-05 17:52] akshayadme commented on #11
I have designed Authors page

[authors bsdesign.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5329161/authors.zip)

[authors exported page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5329228/authors.page.zip)

[2020-10-05 18:12] manvi-123894 commented on #11
- My task for today was to create the page for python blogs.

- I've just created the structure for the content.
[Python_blog_page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5329285/Python_blog_page.zip)

[2020-10-05 18:59] chirag0821 commented on #11
- My task was create structure for NLP blog pages.
- I created the structure, it is responsible and matching to the main site.
[NLP blog](https://drive.google.com/u/0/uc?id=1V9koZmbSODKdX3TYfKiRuwP7f32Puxph&export=download)

[2020-10-06 04:49] Ansuman9020 commented on #11
- Sorry for the late submission, as there was a electricity cutdown from yesterday so I did it today morning.
[New folder.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5331448/New.folder.zip)

[2020-10-06 14:12] reddymahendra52 commented on #11
* Today's task was to recreate the blog page which was created yesterday
* I totally build a new blog page from scratch
* I used a lot of custom code to rebuild the page
* Since I mostly used the custom code first just created the bsdesign with just integrated parts of code without styling
* After exporting I did the styling
[Final OpenCV.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repe

[2020-10-06 15:42] manvi-123894 commented on #11
- Today's task was to improve the previously made blog page for python.
[Python_Blog_Page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5335029/Python_Blog_Page.zip)

[2020-10-06 17:13] akshayadme commented on #11
I have updated the authors page by adding dropdown menu for authors article.

[authors page.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5335491/authors.page.zip)

[2020-10-06 18:02] Ansuman9020 commented on #11
Updated the previous without header and footer.
[blog.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5335745/blog.zip)

[2020-10-06 20:32] chirag0821 commented on #11
- Today updated the page with blog sections.
[NLP.zip](https://drive.google.com/u/0/uc?id=1BrrzwNJz6s3s7otJ6sEV7oMYlKkDoatL&export=download)

[2020-10-08 08:14] arpit-dwivedi opened #12 "Workflow for publishing blogs"
Steps you think which should be followed to put all the data from the repository to the web page, and how you think your team would help you with the data curation part from the repo.

[2020-10-08 08:45] reddymahendra52 commented on #12
* First I think the markdown while converting into HTML we should try to make  some standards like:
     1. Keeping H1 for Main heading
     2. H2 for sub topics and H3 for sub sub topics
     3. Use paragraph and lists elements only
* And other than those created standard elements if their are any extra elements we should try to embed them into standard elements or try to convert them.
* If we ma

[2020-10-08 08:59] akshayadme commented on #12
- Initially teammate should know how the content should be placed so that the end-users can understand what the author wants to teach them.

- Next point is teammate must have written the content in a right manner so that it will be easy for me to add content in a web page efficiently which means category, sub category, images, tables, data everything must be proper.

- If any software is required

[2020-10-08 10:15] manvi-123894 commented on #12
- Firstly, there should be a mutual understanding among the team members about how a particular element has to be designed like elements having equal importance should be designed in a similar manner to avoid haphazard design.

- I would want my teammate to assist me in converting the markdown and ipynb file into HTML.

- Also I would want the teammate to give honest feedback about how the web pag

[2020-10-08 10:27] Ansuman9020 commented on #12
- The datas in the repo must be arranged systematically so that a user reading it maynot find it difficult while going through the information.
- A single person can't be able to perform certain task itself, teammates play a key role by supporting eachother. While in a team a general overview will gain as it will be combined with different multiple ideas.
- Coverting the markdown and ipnynb file t

[2020-10-08 15:24] chirag0821 commented on #12
- It is difficult to convert and merge .ipynb file and .md file into the html without help of teammates.
- If teammates provide merge of .ipynb and .md file the task will become easy.
- Teammate should know how the page will look like.
- Making standards for the element like heading will reduce the efforts.
- The content should be proper and teammate must be in contact.

[2020-10-12 07:57] arpit-dwivedi opened #13 ""Search" in static pages"
Search for available options to enable "Search" on static webpages.

Some of the methods are [given here](https://www.addsearch.com/blog/how-to-add-search-to-you-static-website/) and [here](https://dev.to/albogdano/implementing-full-text-search-for-your-static-site-4ool) , you can check if anyone can work with our website, and search for other options as well, like if we can use [elastic search](h

[2020-10-12 17:45] reddymahendra52 commented on #13
* Today's task was to enable a search bar on our static webpage
* I tried to implement the [Para](https://paraio.com/) but was not able to successfully implement it
* Then tried to implement [Lunr](https://lunrjs.com/) but was not able to successfully implement that also
* I found a codepen with Lunr the link is here: -->[Pen](https://codepen.io/a-luna/pen/GRooENM?editors=0110)
* I exported the fi

[2020-10-12 18:10] manvi-123894 commented on #13
- Today's task was to figure out how to add search functionality to a static website.

- I've worked with vanilla Javascript where filter can be used to add search functionality.

- An array of objects can be created and each object will have some keywords and based on these keywords the search results can be filtered.

- I read about jekyll and other static web page generators but couldn't really

[2020-10-12 18:54] chirag0821 commented on #13
- I searched about SaaS but couldn't find any resources to implement it.
- I think we can use JSON to store the keywords.
- Then by using Fetch API and changing html through javascript we can implement the given task.
- But i think it will take time to search or render on webpage because it is searching into the the JSON array.

[2020-10-13 00:47] akshayadme commented on #13
- I have read some of the articles for implementing search functionality in static websites but I can't get any conclusion for that.

- There are some techniques by which we can implement search in static website but for that we have learn new framework and its a bit tricky and time consuming.

- The links you have suggested if we implement it may be  affective or may be not for some of the times.

[2020-10-13 04:25] Ansuman9020 commented on #13
- I do find it more confusing about the search task given yesterday.
- As it is new to me, I found it difficult to know and research about it.

[2020-10-13 10:48] manvi-123894 commented on #13
- I've tried to implement the search functionality using Vanilla Javascript.

- I've created a painting catalog. In this, one can write the name of the painting and when the user clicks the search button then the result is displayed on the web page.

- In this, I've created an array of objects containing all the required information of the painting according to which HTML is dynamically created in

[2020-10-13 13:32] Ansuman9020 commented on #13
https://www.youtube.com/watch?v=M3PbUwgEecU
https://www.youtube.com/watch?v=-bqDzd1-Prc

- This may help us in implementing workable search task. I request everyone to watch this two videos.

[2020-10-13 15:52] reddymahendra52 commented on #13
* Today's task was to implement yesterday's ideas.
* I was successfully able to implement and integrate it.
* Uploading a file without images for quicker upload
* Working searchbar 👇
[Working SE.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/5372440/Working.SE.zip)

[2020-10-13 16:59] akshayadme commented on #13
- As search option has to be implemented in the static website and manvi and mahendra has implemented it. I have tried it.
- I think mahendra's idea is bit difficult because its based on new framework lunr.js and we don't have knowledge about it. If we add and we get any errors in that then we cannot resolve as we don't have understanding of it.
- I have worked on manvi's idea which is basic JavaS

[2020-10-22 07:54] akshayadme opened #14 "SEO for new blog page"

[2020-10-22 08:07] akshayadme commented on #14
- I have tried to implement SEO for new blog pages after exporting files but I didn't reached at any conclusion.

- To do SEO manually firstly when we design new blog page we will do SEO in bootstrap studio and for merging it on main site we only just have to update sitemap.xml file.

- For updating xml file we just have to add syntax
       `<url>`
             ` <loc>http://decincept.codes/uniqu

[2020-10-26 07:57] arpit-dwivedi opened #15 "Summary of the work."
Please summarize all the work done by you during the internship  in brief with links of your work.

[2020-10-26 09:00] akshayadme commented on #15
- Initially we have downloaded and installed Bootstrap Studio application and learn and understand about it for designing static website using drag and drop feature of application. In the application there is multiple templates available for designing web pages.

- After understanding about bootstrap studio my first task was to design landing page as a learning purpose. In that I have designed nav

[2020-10-26 10:15] kanchitank commented on #15
- **Understanding Flask and building a simple application** - [Link](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-705523678)

- **ML Model Deployment Using Flask** - [Link](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-705523678)

- **Gender Classification Web App Using Flask** - [Link](https://github.com/Learn-Write-Repeat/Con

[2020-10-26 10:16] kanchitank commented on #15
- **Understanding Flask and building a simple application** - [Link](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-705523678)

- **ML Model Deployment Using Flask** - [Link](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-705697294)

- **Gender Classification Web App Using Flask** - [Link](https://github.com/Learn-Write-Repeat/Con

[2020-10-26 10:42] aditya9110 commented on #15
- [Understanding Flask](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-704061933)
- [To Do List App](https://github.com/aditya9110/ToDo-List-App)
- [ML Model Deployment using Flask](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-705085452)
- [Loan Eligibility System using Flask](https://github.com/Learn-Write-Repeat/Contribution-p

[2020-10-26 11:56] Rishav-hub commented on #15
- Understanding the Basics of Flask [here][link1].
- Also contributed to Hacktoberfest2020 [here][link2].
- Learnt the concept of Text extraction using Tesseract [here][link3].
- Implemented a basic text extraction using OCR concepts [here][link4].
- Learnt how to deploy an Object Detection Project using Flask [here][link5].

[link1]: https://github.com/Rishav-hub/flask_basics.git
[link2]: https:/

[2020-10-26 12:09] anillko1108 commented on #15
- [**Understanding Flask and small application with it**](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-704077163)

- [**Deploy Machine Learning Model Using Flask**](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-705306269)

-  [**Sales prediction web application using flask**](https://github.com/Learn-Write-Repeat/Contribution-p

[2020-10-26 12:21] madalatrivedh20 commented on #15
<ul><li>Live Sketching app using OpenCV and Python - <a href="https://github.com/Learn-Write-Repeat/Contribution-program/blob/master/intern-basics/Part-5%20Simplesketchapp.md"> Link</a></li></li>
<li>Next word prediction using RNN /LSTM - <a href="https://github.com/madalatrivedh20/Contribution-program/tree/master/trivedh/nextwordpredictor"> Link</a></li>

<li> Data Curation<ul><li>Basic openCV op

[2020-10-26 12:22] john-2424 commented on #15
My Work Summary:

- [Understanding Flask](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-704086100) :

Learnt about a web framework called "Flask". It is a micro web framework which can add application features or develop and support web applications. It is based upon Pocco projects such as Werkzeug and Jinja2.

- [Next Word Predictor using LSTM and PyTorch](https

[2020-10-26 14:00] Ansuman9020 commented on #15
- Initially we have downloaded and installed Bootstrap Studio application and learn and understand about it for designing static website using drag and drop feature of application.
- After that using any of the template from the bootstrap studio we did a portfolio page which includes the header, footer and different sections of the page.
- We gained knowledge more about the bootstrap studio.
- My

[2020-10-26 14:09] reddymahendra52 commented on #15
* Initially in the first week of the internship our main task was to learn Bootstrap Studio which has a drag and drop feature which is very useful and it saves a lot of time while implementing our ideas, since there are many inbuilt templates also.
The following tasks were done in first week:
    1. To make a product landing page.
    2. Understand basic SEO(Search Engine Optimization)
    3. To c

[2020-10-26 15:13] akrish4 commented on #15
### Summary of my works:
 -  [Understanding Flask](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-704037512)
 -  [ ML deployement using flask ](https://github.com/Learn-Write-Repeat/Open-contributions/issues/175#issuecomment-705300749)
 - [Salary Predictor Web App Using Flask ](https://github.com/Learn-Write-Repeat/Contribution-program/tree/master/ML_models_Flask/

[2020-10-26 15:48] manvi-123894 commented on #15
- Initially, we downloaded and installed Bootstrap studio and learned the basics of it. After that, we built a simple landing page to apply all the features of the Bootstrap studio we learned.

- After that, I learned the advanced features of Bootstrap studio, i.e., SEO. And then made a personal portfolio to apply all the advanced features of the bootstrap studio.

- After that, we designed a temp

[2020-10-27 07:55] HarshKhilawala commented on #15
**Summary of the Work :**

* [Numpy Python Notebook](https://github.com/HarshKhilawala/Contribution-program/blob/master/intern-basics/Revisiting%20Numpy/Numpy.ipynb)
Created Python Notebook for quick revision to the important functions and methods of Numpy library in Python.

* [Revisiting Numpy Markdown File](https://github.com/HarshKhilawala/Contribution-program/blob/master/intern-basics/Revisit

[2020-10-28 03:15] jaydhamale7 commented on #15
**Summary of my works:**
Understanding Flask
ML deployement using flask
Next Word Prediction
Categorized all the python topics
Data Curation of Python domain: [https://github.com/Learn-Write-Repeat/python](url)

[2020-10-28 09:09] chirag0821 commented on #15
- At the begining, i have overviewed the working of bootstrap sudio and created an ecommerce website(static) using advanced tools in bootstrap studio.
LINK: (https://drive.google.com/u/0/uc?id=1wW9VUG2hMP39lh4552janfcuYeu1-esU&export=download)
- I have created my portfolio and added advanced SEO features to it.
LINK: (https://drive.google.com/u/0/uc?id=1wTNNoxDbdcQwZML39GVT9lG63FBmFGny&export=down

[2020-10-28 16:20] neha2426 commented on #15
-  [Understanding flask](https://github.com/Learn-Write-Repeat/Contribution-program/blob/master/ML_models_Flask/Kumari%20Neha/Understanding%20Model%20Deployment.md)

- [Iris classification]( https://github.com/Learn-Write-Repeat/Contribution-program/blob/master/ML_models_Flask/Kumari%20Neha/iris.py)

- [ Iris flask deployment](https://github.com/Learn-Write-Repeat/Contribution-program/blob/master/

[2020-11-18 06:34] arpit-dwivedi opened #17 "FastAPI"
Understand basics of [Fast API from this documentation page](https://fastapi.tiangolo.com/).

In the comments, explain what its, advantages, and try the example give in documentation and share your experience.

[2020-11-18 15:06] reddymahendra52 commented on #17
* FastAPI is a  web framework  used for building APIs with Python 3.6+
* Advantages:
   1. Very high performance,
   2. Reduced bugs
   3. Easy to use and learn
* I tried the example in the documentations i was able to implement the example by following the steps which were were given in the documentation.
* But apart from following the steps i was only able to understand a few part of the documen

[2020-11-18 15:48] manvi-123894 commented on #17
- FastAPI is a framework for developing web applications in Python. Advantages of FastAPI are:

1. Fast, very high performance
2. Easy to learn and code
3. Minimize code duplication
4. Fewer bugs

- I tried to understand the example given in the documentation but was unable to understand it as I'm not familiar with the Python language.

[2020-11-18 17:11] akshayadme commented on #17
FastAPI is a software framework for developing web applications in Python. Python's FastAPI framework enables engineers to rapidly build new applications by calling functions such as authentication through the Fast API.

Advantages of FastAPI :-

1. It gives very high performance when worked with Node.js and GO.
2. It reduces the 40% human developed error.
3. It is designed in a way that's easy to

[2020-11-30 05:45] arpit-dwivedi opened #18 "Analyze the website"
The website [Devincept.codes](https://devincept.codes/) just got hosted, there are many things which can be done to make it more smooth for web and mobile. Today try to analyze the website and see what improvements can be made.

1. Go [here](https://developers.google.com/speed/pagespeed/insights/) and put the URL of website ***(devincept.codes)***
2. It'll take a moment and will analyze the websit

[2020-11-30 06:31] reddymahendra52 commented on #18
**For Mobile:**
* For mobile website the score is 44
* Which according to me is less i think it can be greatly improved by using the next-gen  image formats like JPEG 2000, JPEG XR, and WebP which will save a lot of time.
* And i  also noticed that we are using the same size images for both desktop and mobile which is also increasing the time, if we use same images of different sizes which is diff

[2020-11-30 16:16] manvi-123894 commented on #18
- Score for Mobile Version is 23.

- Score for Desktop Version is 77.

**According to suggestions shown :**

- Image formats like JPEG 2000, JPEG XR, and WebP should be used to provide better compression than PNG or JPEG and for faster downloads and less data consumption.

- Responsive Images should be used which means generating multiple versions of each image, and then specifying which version t

[2020-11-30 16:51] akshayadme commented on #18
Mobile Score is 40
Desktop Score is 81

- Basically PageSpeed Insight says to use low file size image in JPEG 2000, JPEG XR, and WebP formats for faster loading of website.

- In mobile view we can use some more navigations for better switching between programming languages. Because while we are on any article page and we want to switch to different article we have to go back and then we have to s

[2020-12-01 08:01] imrushikesh commented on #18
#### Mobile Score -  67
#### Desktop Score -  92

- For desktop - For font files taking time to load and cache policy.
- for Mobile -
       - instead of Gif use  MPEG4/WebM for animation.
       - WebP for static Images.
       - Remove unused Javascript, CSS, and resize images.
       - Eliminate render-blocking resources. (linking in the head tag )
       - preload fonts and increase cache capa

[2021-01-14 14:54] kevinli15 commented on #10
For freehitcounter, is there a way to view the counter without changing it?

[2021-01-15 04:58] reddymahendra52 commented on #10
@kevinli15
I didn't really get your question.
Can you please explain what you are trying to ask??

[2021-01-15 05:37] kevinli15 commented on #10
On some blog sites before you click on an article to read it will show you a preview of the article and how many views it already has. I was wondering how to display the views without visiting the page and updating the view count. In other words I want to see the view count but dont want to update it yet since I havent actually clicked on the article to view it. Thank you for the response

[2021-03-05 12:50] mahakal420 commented on #1
**For the first task, we were instructed to install the Bootstrap Studio and create the personal portfolio**
**Firstly I have learned all the basics of bootstrap studio **
**  I used an inbuilt bootstrap studio template to create my portfolio which is very easy to use, then creating it from scratch.**

[2021-03-05 13:06] mahakal420 commented on #1
-  First task is to install bootstrap studio and create a personal portfolio.
-   I go through the basic documentation of bootstrap studio and learn about its features.
-   I used an inbuilt bootstrap studio template to create my portfolio.
- The template contains a header, hero section, about, projects, and contact. We have to make some changes to it and then add details about ourselves to it.

[2021-03-05 13:57] KunalMahato11 commented on #1
* In the first week's task, we were assigned to make our own portfolio website using the bootstrap studio.
* First, I downloaded the bootstrap studio. I explored it inside out, where I learned to navigate the software and structure basic web pages—stuff like how to create divs, headers, sections, and how to apply styles to them, how to align and how to use flexbox properties.
* Then, I created a n

[2021-03-05 14:23] KunalMahato11 commented on #3
* The second task for this week was to learn about SEO and implementing SEO in our portfolio website.
* So, basically, SEO means a website containing HTML codes has to be organized in such a manner that it will achieve a higher ranking in search engines research page (SERP) of a search engine like Google, Yahoo, Bing, and so on.
* To implement SEO on a website, we need to know some HTML tags which

[2021-03-09 21:09] Ritika-Agrawal811 commented on #1
1. Task One includes downloading Bootstrap Studio and building a portfolio using it.
2.  I download the software and then watched videos to explore its various features.
3. I learned to add different html elements and style it using the interface provided by Bootstrap studio.
4. I added various images and tried to add hover effects on them.
5. I explored the different templates available and explo

[2021-03-09 21:27] Ritika-Agrawal811 commented on #3
1. Task One further involved learning about SEO - Search Engine Optimization.
2.  SEO is very important to make a website easily noticeable to get more traffic and rank higher among other web pages.
3.  SEO is implemented using meta tags, adding head content , adding appropriate alternate text for images used, minimizing code size.
4. Bootstrap provides an easy way to implement SEO to web pages.
5

[2021-03-10 08:24] NihalSuresh007 commented on #1
The first task assigned to us was we were instructed to install the Bootstrap Studio and create a portfolio page.
I created a simple portfolio page using bootstrap studio which includes a navigation bar, home section, about, services, and a footer.
The navigation bar contains the name of the website and some links to different sections of the web page.
I added the different photos and sections nee

[2021-03-10 08:27] NihalSuresh007 commented on #3
Second task was to learn about SEO and implementing SEO in our portfolio website.
SEO means a website containing HTML codes has to be organized in such a manner that it will achieve a higher ranking in search engines research page (SERP) of a search engine like Google, Yahoo, Bing, and so on.
To implement SEO on a website, we need to know some HTML tags which are used to provide information that i

[2021-03-10 11:26] mahakal420 commented on #1
- In the first week's task, we were assigned to make our own portfolio website using the bootstrap studio.
- First I have to download the software and then watched videos to explore its various features.
- Then edited the template portfolio.
- I got a complete overview of the bootstrap studio and proper hands-on experience.

Bootstrap file
[portfolio.zip](https://github.com/Learn-Write-Repeat/Lear

[2021-03-10 11:41] mahakal420 commented on #3
- The second task for this week was to learn about SEO and implementing SEO in our portfolio website.
- SEO stands for “search engine optimization.” In simple terms, it means the process of improving your site to increase its visibility for relevant searches.
- SEO is implemented using meta tags, adding head content, adding appropriate alternate text for images used, minimizing code size.
- So, to

[2021-03-11 17:54] RohitsSkill commented on #1
1. As per the task first I download bootstrap studio and then install it.
2.  Then I learn some basic things related to bootstrap studio.
3. After that I have created my portfolio with the help of template provided by them
4. This task help  me to understand bootstrap studio.
[Portfolio.zip](https://github.com/Learn-Write-Repeat/Learn-Write-Repeat.github.io/files/6124984/Portfolio.zip)

[2021-03-27 17:16] abhishekpatelmc opened #19 "Learnt Bootstrap studio"
### Starting with Bootstrap Studio
I have worked with Bootstrap before , but i had not experience the easy flow which bootstrap studio provides. All the the things can be drag-dropped to the the layout. CSS can be made custom. Best part about Bootstrap is that the website are responsive from the  beginning.

[2021-03-27 17:17] abhishekpatelmc commented on #1
### Starting with Bootstrap
I have worked with Bootstrap before , but i had not experience the easy flow which bootstrap studio provides. All the the things can be drag-dropped to the the layout. CSS can be made custom. Best part about Bootstrap is that the website are responsive from the beginning.

[2021-07-04 19:33] #1 closed, assigned to Ansuman9020, reddymahendra52, manvi-123894, akshayadme, chirag0821

[2021-07-04 19:33] #3 closed, assigned to Ansuman9020, reddymahendra52, manvi-123894, akshayadme, chirag0821

[2021-07-04 19:33] #6 closed, assigned to Ansuman9020, reddymahendra52, manvi-123894, chirag0821

[2021-07-04 19:33] #7 closed, assigned to akshayadme

[2021-07-04 19:33] #8 closed, assigned to Ansuman9020, reddymahendra52, manvi-123894, chirag0821

[2021-07-04 19:33] #9 closed, assigned to Ansuman9020, reddymahendra52, manvi-123894, akshayadme, chirag0821

[2021-07-04 19:33] #10 closed, assigned to reddymahendra52

[2021-07-04 19:33] #11 closed, assigned to Ansuman9020, reddymahendra52, manvi-123894, akshayadme, chirag0821

[2021-07-04 19:33] #12 closed, assigned to Ansuman9020, reddymahendra52, manvi-123894, akshayadme, chirag0821

[2021-07-04 19:33] #13 closed, assigned to Ansuman9020, reddymahendra52, manvi-123894, akshayadme, chirag0821

[2021-07-04 19:33] #14 closed, assigned to akshayadme

[2021-07-04 19:33] #15 closed, assigned to nobody

[2021-07-04 19:33] #17 closed, assigned to reddymahendra52, manvi-123894, akshayadme

[2021-07-04 19:33] #18 closed, assigned to reddymahendra52, manvi-123894, akshayadme

[2021-07-04 19:33] #19 closed, assigned to nobody

[2021-07-12 04:01] arpit456jain opened #36 "Adding 3 new Beginner Friendly Projects"
I would like to add 3  Beginner Friendly Projects
Details :
1. Repository for amazing CSS effects -
https://github.com/arpit456jain/Amazing-Css-Effects
2.  Repository for Javascript projects -
https://github.com/arpit456jain/Amazing-Js-Projects
3.  Repository for Cool Frontend Templates.
https://github.com/arpit456jain/Cool-Front-End_Templates
Sample websites are-
https://arpit456jain.github.io/Am

[2021-07-12 04:10] ashutoshkrris commented on #36
Alright @arpit456jain
Assigning it to you!

[2021-07-12 04:12] arpit456jain commented on #36
thanks @ashutoshkrris i will make PR asap

[2021-07-12 04:18] arpit456jain opened #37 "Description is not in center and boxes are not uniform"
![image](https://user-images.githubusercontent.com/55352601/125230410-591f7c80-e2f6-11eb-8f28-f04575c7f8b1.png)

[2021-07-12 04:35] arpit456jain commented on #37
@ashutoshkrris can I make a PR ?

[2021-07-12 04:37] ashutoshkrris commented on #37
Yeah @arpit456jain
Can you please share the screenshot of the updated page here?

[2021-07-12 04:42] arpit456jain commented on #37
![screencapture-127-0-0-1-5500-projects-html-2021-07-12-10_12_12](https://user-images.githubusercontent.com/55352601/125232141-a3eec380-e2f9-11eb-906e-698c8c231369.png)

[2021-07-12 04:49] #37 closed, assigned to arpit456jain

[2021-07-12 06:41] dhwaj1902 opened #39 "Make Projects/Competitions Tab active"
While we are on the ``Projects`` tabs, still the contribute tab is active in NavBar, same for the ``Competitions`` page.

[2021-07-13 16:37] #36 closed, assigned to arpit456jain

[2021-07-14 08:29] dhwaj1902 commented on #39
should I make a PR regarding this?
Please confirm if this is a valid issue?